.array-container {
  /* margin-top: 50px; */
  position: fixed;
  bottom: 10px;
  left: 20px;
  justify-content: center;
  align-content: end;
  width: 1150px;
  height: 600px;
  border-radius: 10px;
}
.sort-container {
  display: flex;
  flex-direction: row;
}
.about-sort {
  width: 345px;
  height: 350px;
  justify-content: space-around;
  align-content: center;

  position: fixed;
  right: 10px;
  top: 200px;
}
.Pair_Definitions {
  display: flex;
  /* justify-content: space-around; */
  justify-content: center;
}

.array-bar {
  width: 2px;
  display: inline-block;
  margin: 0 1px;
}
.button-container {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: rgb(138, 43, 226);
  width: 100%;
}
.button-container button {
  margin-left: 10px;
  padding: 10px;
  border-radius: 30px;
}
* {
  margin: 0px;
  padding: 0px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: large;
  font-weight: bold;
  text-transform: uppercase;
}
.butt_selected {
  background-color: white;
  color: green;
  &:hover {
    background-color: white;
    cursor: pointer;
  }
}
.butt_unselected {
  &:hover {
    background-color: blue;
    cursor: pointer;
  }
}
